// Custom hold-tap behaviors for adv360 keymap
// (KEYS_LEFT, KEYS_RIGHT, THUMBS, MODS_* must be #defined before this file is included)

/*  NOTES - hold-tap
    FLAVORS: https://zmk.dev/docs/behaviors/hold-tap
        balanced: best for most cases, if hold long enough, thinks a hold, or if fast but w/in time, then hold, else tap (*default best)
        tap-preferred: assume tap unless more strict timing met; more 'deliberate'
        hold-preferred: more forgiving (& more false-holds)
        tap-unless-interrupted: [NMI] seems to assume tap even if slower, unless some other key pressed (so if - was the hold, would yield ----------.... I think, but "-x" faster would be <Hold>+<X>)
    TIMINGS that seem good: see below for reg/med/slw - e.g. slower for Win/Gui since false-holds wreck havoc :)

    // [.] 2024-12-21: still don't get the tap-term vs guick-tap nuances

*/

hm: homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick-tap-ms = <125>; 
    flavor = "balanced";
    bindings = <&kp>, <&kp>;
};

hm_l: homerow_mods_left {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick-tap-ms = <125>; 
    flavor = "balanced";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_RIGHT THUMBS MODS_LEFT>;
    /* TEMP: ↑ adding MODS_LEFT to see if can n-hold mods */
};

hm_r: homerow_mods_right {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;  
    flavor = "balanced";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_LEFT THUMBS MODS_RIGHT>;
    /* TEMP: ↑ adding MODS_RIGHT to see if can n-hold better */
};

/* "slower" home-row mod for Win key since don't need to be fast and false-taps mess up worse */
hm_slw: homerow_mods_slw {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

/* "medium" home-row mod for Other Mod keys since don't need to be fast and false-taps are problems */
hm_med: homerow_mods_med {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <250>;
    quick-tap-ms = <150>;
    flavor = "balanced"; // tap-preferred better?
    bindings = <&kp>, <&kp>;
};


/* Adapted from here: https://github.com/serebrov/zmk-config/blob/master/config/microdox.keymap
    binding-1 = when held, binding-2 = when tapped
*/
as: auto_shift {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

as_slw: auto_shift_slw {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <230>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

as_2tap: auto_shift_2tap_revert {
    // quick-tap longer, like tapping-term, lets 2x-tap-then-hold repeat the key
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <230>;
    quick-tap-ms = <230>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

// TBD layer Hold for 1, Tap for 2; adapted from https://www.reddit.com/r/ErgoMechKeyboards/comments/123sapj/zmk_question_can_i_layertap_with_a_macro/
lht: layer_hold_tap {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <170>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&mo>, <&to>;
};

lt_slw: layer_tap_slower {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <230>;
    quick-tap-ms = <0>;  // ▢ this also need ∆?
    flavor = "tap-preferred";
    bindings = <&mo>, <&kp>;
};
