// ---------- NEW WIP LAYOUTS 2024-05+ ---------- //

/* TODO & NOTES - see mod_morphs_colemak file */
/* CODES ref: https://zmk.dev/docs/codes */
/* ASSUMES GENERAL ONE INCLUDED BEFORE THIS ONE! */

// 2025-02-18 MULT/times and ZERO/deg Ø great


//Defines
    #define _CA_F16 LC(LA(F16))    // AHK: € - euro
    #define _CA_F22 LC(LA(F22))    // AHK: ° - degree
    #define _CA_F23 LC(LA(F23))    // AHK: × - times
  
  // Column 8 (some just Auto-Shift in main layout)
  MOD_MORPH_SHIFT(mmNUM_Apos  , APOS           , _CA_F16       , mmsNUM_Apos) // AHK _CA_F16: € - euro

  // Column 9 (just left of #s)
  MOD_MORPH_SHIFT(mmNUM_Dllr  , DOLLAR         , DQT           , mmsNUM_Dllr) // DQT: " - double quote
  MOD_MORPH_SHIFT(mmNUM_Coln  , COLON          , SEMI          , mmsNUM_Coln)

  // Top (just above #s) / R1, C10-12
  MOD_MORPH_SHIFT(mmNUM_Lpar  , LPAR           , LT            , mmsNUM_Lpar)
  MOD_MORPH_SHIFT(mmNUM_Dot   , DOT            , COMMA         , mmsNUM_Dot )
  MOD_MORPH_SHIFT(mmNUM_Rpar  , RPAR           , GT            , mmsNUM_Rpar)

  // Rest of RH side / C13-14
  MOD_MORPH_SHIFT(mmNUM_Eqal  , EQUAL          , TILDE         , mmsNUM_Eqal)
  MOD_MORPH_SHIFT(mmNUM_Mult  , KP_ASTERISK    , _CA_F23       , mmsNUM_Mult) // AHK _CA_F23: ×
  MOD_MORPH_SHIFT(mmNUM_Zero  , N0             , _CA_F22       , mmsNUM_Zero) // AHK _CA_F22: °
  MOD_MORPH_SHIFT(mmNUM_Plus  , KP_PLUS        , LS(N7)        , mmsNUM_Plus) 

  MOD_MORPH_SHIFT(mmNUM_Divd  , KP_DIVIDE      , PERCENT       , mmsNUM_Divd)
  MOD_MORPH_SHIFT(mmNUM_Mnus  , KP_MINUS       , LS(MINUS)     , mmsNUM_Mnus)
  MOD_MORPH_SHIFT(mmNUM_Q_H   , LS(Q)          , LS(H)         , mmsNUM_Q_H)

//Undefines
    #undef _CA_F16
    #undef _CA_F22
    #undef _CA_F23

