/* NOTES
   CODES ref: https://zmk.dev/docs/codes
   - 2024-12-21: still don't get the tap-term vs guick-tap nuances
*/

// ---------- THIS >> AHK ref 2025-xx-?? ---------- //
// Note: Fn-# above 12 don't work through RDP (at all)
// ^!F11 >> AHK(~ing)
// ^!F12 >> AHK(~tion)
//  F18 >> — / m-dash [Alt+F24 Ø working; Ø-idea why]
// ^!F17 >> D-M/D
// ^!F18 >> D-yyyy-MM-DD
// {MANY} for symbols directly on F13 - F24 see keyboard layout notes/graphics (2026-03-07:  ⮯: ⇄ ⇒ Ø • — ▢ ▣ 🗹 ∵ ∴ 🗷)
// Terms reminders: (` grave; # hash, - minus, * star, ...)


// TOP ROW (L to R)
  MOD_MORPH_SHIFT(ngm_tild    , TILDE        , PIPE     )
  MOD_MORPH_SHIFT(ngm_excl    , EXCL         , N1       )
  MOD_MORPH_SHIFT(ngm_qstn    , QMARK        , N2       )
  MOD_MORPH_SHIFT(ngm_cmma    , COMMA        , N3       )
  MOD_MORPH_SHIFT(ngm_apos    , APOS         , N4       )
  MOD_MORPH_SHIFT(ngm_ing     , RC(F11)      , N5       ) // ^F11 "ing"
  MOD_MORPH_SHIFT(ngm_cap_ing , RC(RS(F11))  , N5       ) // ^!F11 "ING"

  MOD_MORPH_SHIFT(ngm_tion    , RC(F12)      , N6       ) // ^F12 "tion"
  MOD_MORPH_SHIFT(ngm_cap_tion, RC(RS(F12))  , N6       ) // ^!F12 "TION"
  MOD_MORPH_SHIFT(ngm_lpar    , LPAR         , N7       )
  MOD_MORPH_SHIFT(ngm_perd    , PERIOD       , N8       )
  MOD_MORPH_SHIFT(ngm_rpar    , RPAR         , N9       )
  MOD_MORPH_SHIFT(ngm_equl    , EQUAL        , N0       )

// Left Bottom
  MOD_MORPH_SHIFT(ngm_bksl    , BSLH         , PIPE     )
  MOD_MORPH_SHIFT(ngm_grav    , GRAVE        , CARET    )

 // L-MID COLUMN (T to B):
  MOD_MORPH_SHIFT(ngm_star    , STAR         , F16      ) // F16 "Ø"
  MOD_MORPH_SHIFT(ngm_semi    , SEMI         , LT       )
  MOD_MORPH_SHIFT(ngm_amps    , AMPS         , AT       )

// R-MID COLUMN (T to B):
  MOD_MORPH_SHIFT(ngm_quot    , DQT          , DLLR     )
  MOD_MORPH_SHIFT(ngm_coln    , COLON        , GT       )
  MOD_MORPH_SHIFT(ngm_hash    , HASH         , PLUS     )

// Rh COLUMN (T to B):
  MOD_MORPH_SHIFT(ngm_slsh    , SLASH        , PRCNT    )
  MOD_MORPH_SHIFT(ngm_mnus    , MINUS        , UNDER    )

// For dates:
  MOD_MORPH_SHIFT(ngm_d1d0    , RC(RA(F18)) , RC(RA(F17)) )


// UNUSED (keep since PIA to re-do if change mind):
  //MOD_MORPH_SHIFT(ngm_star  , STAR        , N1          )
  //MOD_MORPH_SHIFT(ngm_excl  , EXCL        , N7          )
  //MOD_MORPH_SHIFT(ngm_quot  , DQT         , N9          )
  //MOD_MORPH_SHIFT(ngm_cret  , CARET       , GRAVE       )
  //MOD_MORPH_SHIFT(ngm_lpar  , LPAR        , F16         ) // F16 "Ø"
  //MOD_MORPH_SHIFT(ngm_excl  , EXCL        , F16         ) // F16 "Ø"
  //MOD_MORPH_SHIFT(ngm_rpar  , RPAR        , DLLR        )
