/*****************************************************************************************************
* L2 🔵 EDT - Edit layer
* [ ] other r.h.s. useful things?
* [ ] turn Win+<> into timed-hold Macros? (see the slickrun example) -- for RDP because Win+ not reliable in RDP when sent too fast
* &m_CSA_V = Ctrl+Shift+Alt+V (for ClipMate), but in slight-key-delayed macro so works through RDP
* Copy|Paste Unformatted:
    - &m_WC_* = same key-delayed macro for Win+Ctrl+C|V (AHK copy|paste unformatted)
    - [.] temp trying w/o Win key at all using **F13** instead - see AHK
    - [.] temp +ClipMate on NGM V position
    - 2025-09-08: move some to mod-row taps, & better match NGM (also get off LH Thumb for using Thumb-hold always and working better with NayaCreate)
*/

// Defines:
    #define _CtlB_GUI          &hm_slw LGUI LC(B) // bold + Win
    #define _AltY_SFT          &hm_slw LSHFT LA(Y) // yes + Alt
    #define _AltN_ALT          &hm_slw LALT LA(N) // no + Shift
    #define _CtlI_CTL          &hm_slw LCTRL LC(I) // underline + Ctrl
// End Defines

navnedit_layer { bindings = <
    &kp LA(F4)      &kp LC(W)  &kp F2     &kp LC(O)    &kp LC(T)    &kp F5       &to L_0                                                            ___    &kp SLCK      _x_       _x_       _x_        _x_          &kp KP_NUMLOCK
    &kp LC(Y)       _CtlB_GUI  _AltY_SFT  _AltN_ALT    _CtlI_CTL    &kp LC(U)    &kp PG_UP                                                      &kp PG_UP  &kp RC(HOME)  &kp HOME  &kp UP    &kp END    &kp RC(END)  &kp INS
    &kp LC(LS(F9))  &kp LC(A)  &kp LC(X)  &kp LC(C)    &kp LC(V)    &kp LC(D)    &kp PG_DN           &m_SEL_LINE  &kp RC(A)  _x_  &kp BSPC      &kp PG_DN  &kp PG_UP     &kp LEFT  &kp DOWN  &kp RIGHT  _x_          &kp CAPS
    &kp LC(Z)       &kp LC(S)  &kp LC(K)  &kp F13      &kp LC(F13)  &m_CSA_V                                  &m_SEL_WRD_L    _x_                          &kp PG_DN     _x_       _x_       _x_        _x_          &kp PAUSE_BREAK
    &kp LC(L)       &kp UP     &kp DOWN   ___          ___                             &kp LC(Z)  &kp LC(Y)  &m_SEL_WRD_R      &m_MinWin  ___  ___                       ___       ___       _x_        _x_          &kp PSCRN
>; };

// Undefs:
    #undef _CtlB_GUI
    #undef _AltY_SFT
    #undef _AltN_ALT
    #undef _CtlI_CTL
// End Undefs
