#define str(s) #s

#define LEFT_KEYS 0  1  2  3  4  5  6 \
    14 15 16 17 18 19 20 \
    28 29 30 31 32 33 34 \
    46 47 48 49 50 51    \
    60 61 62 63 64
#define RIGHT_KEYS 7  8  9 10 11 12 13 \
    21 22 23 24 25 26 27 \
    39 40 41 42 43 44 45 \
    54 55 56 57 58 59 \
        71 72 73 74 75
#define THUMBS_LEFT 35 36 \
    52 \
    65 66 67 \
#define THUMBS_RIGHT 37 38    \
    53       \
    68 69 70 \
#define THUMB_KEYS THUMBS_LEFT THUMBS_RIGHT

#define TAPPING_TERM_HOMEROW 200
#define TAPPING_TERM_THUMB_KEYS 200
#define QUICK_TAP_HOMEROW 100
#define QUICK_TAP_THUMB 180

#define MOD_MORPH(NAME, KEY, MOD_KEY, MODS) (mm_##NAME: mm_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    #binding-cells = <0>; \
    bindings = <&kp KEY>, <&kp MOD_KEY>; \
    mods = <MODS>; \
  };)

/* Programmer's Dvorak shifts morphs // EW: some prior example*/
    /*
    MOD_MORPH(dllr_hash,  DLLR,  HASH,  (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n1_plus,    PLUS,  N1,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n2_lbkt,    LBKT,  N2,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n3_lbrc,    LBRC,  N3,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n4_lpar,    LPAR,  N4,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n5_amps,    AMPS,  N5,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n6_equal,   EQUAL, N6,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n7_rpar,    RPAR,  N7,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n8_rbrc,    RBRC,  N8,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n9_rbkt,    RBKT,  N9,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(n0_star,    STAR,  N0,    (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(excl_prcnt, EXCL,  PRCNT, (MOD_LSFT|MOD_RSFT))
    MOD_MORPH(at_caret,   AT,    CARET, (MOD_LSFT|MOD_RSFT))
    */

// ↑ SEE SEPARATE "mod_morphs_colemak.dtsi" file


lhm: left_homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <100>;
    quick-tap-ms = <200>;
    global-quick-tap;
    flavor = "tap-unless-interrupted";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <RIGHT_KEYS THUMB_KEYS>;
};

rhm: right_homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <100>;
    quick-tap-ms = <200>;
    global-quick-tap;
    flavor = "tap-unless-interrupted";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <LEFT_KEYS THUMB_KEYS>;
};

thht: thumb_keys_hold_tap {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_THUMB_KEYS>;
    quick-tap-ms = <QUICK_TAP_THUMB>;
    global-quick-tap;
    flavor = "tap-preferred";
    bindings = <&mo>, <&kp>;
};

hm: homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

bspcdel: bspc_del {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
};

lstapd: left_shift_tap_dance {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&kp LSHFT>, <&caps_word>;
};

rstapd: right_shift_tap_dance {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&kp RSHFT>, <&caps_word>;
};

// ****************************************************************************************************
/* MOMENTARY TOGGLE layer 
    - tap = &to layer
    - hold = &mo layer
    see: https://zmk.dev/docs/keymaps/behaviors/hold-tap#using-different-behavior-types-with-hold-taps

*/
//#define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer
mo_tog: behavior_mo_tog {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo>, <&to> /* had &tog from example */;
};

