#define LEFT_KEYS 0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 46 47 48 49 50 51 66 67 68 69 70
#define RIGHT_KEYS 7 8 9 10 11 12 13 21 22 23 24 25 26 27 39 40 41 42 43 44 45 60 61 62 63 64 65 77 78 79 80 81
#define THUMB_KEYS 35 36 37 38 52 53 54 55 56 57 58 59 71 72 73 74 75 76

#define TAPPING_TERM_HOMEROW 200
#define TAPPING_TERM_THUMB_KEYS 250
#define QUICK_TAP_HOMEROW 175

lhm: left_homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    label = "LEFT_HOMEROW_MODS";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_HOMEROW>;
    quick-tap-ms = <QUICK_TAP_HOMEROW>;
    global-quick-tap;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <RIGHT_KEYS THUMB_KEYS>;
};
rhm: right_homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    label = "RIGHT_HOMEROW_MODS";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_HOMEROW>;
    quick-tap-ms = <QUICK_TAP_HOMEROW>;
    global-quick-tap;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <LEFT_KEYS THUMB_KEYS>;
};
lhl: left_homerow_layer {
    compatible = "zmk,behavior-hold-tap";
    label = "LEFT_HOMEROW_LAYER";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_HOMEROW>;
    quick-tap-ms = <QUICK_TAP_HOMEROW>;
    global-quick-tap;
    flavor = "tap-preferred";
    bindings = <&mo>, <&kp>;
    hold-trigger-key-positions = <RIGHT_KEYS THUMB_KEYS>;
};
rhl: right_homerow_layer {
    compatible = "zmk,behavior-hold-tap";
    label = "RIGHT_HOMEROW_LAYER";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_HOMEROW>;
    quick-tap-ms = <QUICK_TAP_HOMEROW>;
    global-quick-tap;
    flavor = "tap-preferred";
    bindings = <&mo>, <&kp>;
    hold-trigger-key-positions = <LEFT_KEYS THUMB_KEYS>;
};
thht: thumb_keys_hold_tap {
    compatible = "zmk,behavior-hold-tap";
    label = "RIGHT_HOMEROW_LAYER";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_THUMB_KEYS>;
    quick-tap-ms = <QUICK_TAP_HOMEROW>;
    global-quick-tap;
    flavor = "tap-preferred";
    bindings = <&mo>, <&kp>;
};
hm: homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    label = "HOMEROW_MODS";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick_tap_ms = <175>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};
qtl: quick_tap_layer {
    compatible = "zmk,behavior-hold-tap";
    label = "QUICK_TAP_LAYER";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick_tap_ms = <175>;
    flavor = "balanced";
    bindings = <&mo>, <&kp>;
};
qtkp: quick_tap_keypress {
    compatible = "zmk,behavior-hold-tap";
    label = "QUICK_TAP_KEYPRESS";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick_tap_ms = <175>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

