 // COMBOS - aka CHORDS
 
// #include <dt-bindings/zmk/keys.h>

/*  KEYMAP ref ##s
 * https://github.com/KinesisCorporation/Adv360-Pro-ZMK/blob/V3.0/assets/key-positions.png 
 * NEW v3 : THUMBs moved into normal rows
 *
 *  0  1  2  3  4  5  6                            7  8  9  10 11 12 13
 *  14 15 16 17 18 19 20                           21 22 23 24 25 26 27
 *  28 29 30 31 32 33 34         35 36  37 38      39 40 41 42 43 44 45
 *  46 47 48 49 50 51               52  53            54 55 56 57 58 59
 *  60 61 62 63 64            65 66 67  68 69 70         71 72 73 74 75
*/


 /* NOTES
    https://zmk.dev/docs/features/combos
    https://zmk.dev/docs/config/combos

    timeout-ms: must hit combo w/in that time
    layers = <0 1 ...> // OPTIONAL - to restrict combo to only work on that/those layers

 */

 /* #DEFs...  see adv360.keymap : this file included below the #defs */

compatible = "zmk,combos";
timeout-ms = <50>;

// C1
combo_space {
    key-positions = <32 35>; // L-index, L-thumb
    bindings = <&kp SPACE>;
    layers = <L_DVK L_NGM L_LR>;
};

// C2a
combo_caps_word {
    key-positions = <55 56>; // 
    bindings = <&caps_word>;
    layers = <L_DVK>;
};
//combo_caps_word_NGM_1 {
//    key-positions = <41 44>; // {RH: index,pinkie}
//    bindings = <&caps_word>;
//    layers = <L_NGM>;
//};

// C2b
combo_caps_word_NGM_2 {
key-positions = <33 40>; // {RH-index-in-1; LH-index-in-1}
bindings = <&caps_word>;
layers = <L_NGM>;
};

// C3 - [ ] unused really?
combo_backspace {
    key-positions = <55 58>; // RH, Fng 1,4, 1-row down
    bindings = <&kp BACKSPACE>;
    layers = <L_DVK>; // (main typing) only / removed from Engram because much more frequent letter combo (PR) vs (MZ) on Dvorakps
};

// C4a
combo_context_menu_lh {
    key-positions = <35 36>; // LH, top-2 thumb keys
    bindings = <&kp K_CONTEXT_MENU>;
    layers = <L_DVK L_LR>;
};
// C4b
combo_context_menu_rh {
    key-positions = <37 38>; // RH, top-2 thumb keys
    bindings = <&kp K_CONTEXT_MENU>;
    layers = <L_DVK L_LR>;
};

// C5
combo_caps_lock {
    key-positions = <35 38>; // Both top/inner smaller thumb keys (currently each assigned to Shift)
    bindings = <&kp CAPSLOCK>;
    layers = <L_DVK L_NGM L_LR>;
};

// C6
combo_dot /*period*/ {
    key-positions = <31 35>; // L-ring, L-thumb
    bindings = <&kp DOT>;
    layers = <L_NGM>;
};

// C7
combo_enter {
    key-positions = <29 35>; // L-pinkie, L-thumb
    bindings = <&kp ENTER>;
    layers = <L_NGM>;
};