/* template {
    bindings = <
        t__ t__ t__ t__ t__ t__ t__                                 t__ t__ t__ t__ t__ t__ t__
        t__ t__ t__ t__ t__ t__ x__                                 x__ t__ t__ t__ t__ t__ t__
        t__ t__ t__ t__ t__ t__ x__     t__ t__         t__ t__     x__ t__ t__ t__ t__ t__ t__
        t__ t__ t__ t__ t__ t__     x__ x__ t__ x__ x__ t__ x__ x__     t__ t__ t__ t__ t__ t__
        t__ t__ t__ t__ t__         t__ t__ t__         t__ t__ t__         t__ t__ t__ t__ t__
    >;
}; */

#define t__ &trans
#define x__ &none

#define HYP LG(LA(LCTRL))
#define M_CUT LG(X)
#define M_COPY LG(C)
#define M_PASTE LG(V)
#define M_UNDO LG(Z)
#define M_REDO LG(LS(Z))

#define BOOT &bootloader
#define BS &rgb_ug RGB_MEFS_CMD 5

def {
    bindings = <
        &kp EQUAL     &kp N1    &kp N2   &kp N3   &kp N4    &kp N5 &tog NUM                                                                                  &mo MOD &kp N6 &kp N7   &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp TAB       &kp Q     &kp W    &kp E    &kp R     &kp T  x__                                                                                       x__     &kp Y  &kp U    &kp I     &kp O    &kp P    &kp BSLH
        &mt LCTRL ESC &kp A     &kp S    &kp D    &kp F     &kp G  x__                     &kp LCTRL     &kp LALT         &kp RALT &kp RCTRL                 x__     &kp H  &kp J    &kp K     &kp L    &kp SEMI &mt RCTRL SQT
        &lstapd       &kp Z     &kp X    &kp C    &kp V     &kp B           x__            x__           &kp LGUI x__ x__ &kp RGUI x__       x__                     &kp N  &kp M    &kp COMMA &kp DOT  &kp FSLH &rstapd
        &mo FUN       &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                 &lt SYM BSPC   &lt NUM DEL   t__              t__      &kp ENTER &lt NAV SPACE                  &kp DOWN &kp UP    &kp LBKT &kp RBKT &mo FUN
    >;
};

nav {
    bindings = <
        &kp GRAVE t__        t__       t__        t__         t__        t__                                 t__ t__ t__       t__       t__      t__      t__
        &kp TAB   &kp PG_UP  &kp HOME  &kp UP     &kp END     x__        x__                                 x__ x__ x__       x__       x__      x__      t__
        t__       &kp PG_DN  &kp LEFT  &kp DOWN   &kp RIGHT   &kp BSPC   x__     t__ t__         t__ t__     x__ x__ &sk RCTRL &sk RSHFT &sk RALT &sk RGUI t__
        t__       &kp M_UNDO &kp M_CUT &kp M_COPY &kp M_PASTE &kp M_REDO     x__ x__ t__ x__ x__ t__ x__ x__     x__ &sk HYP   x__       x__      x__      t__
        t__       t__        t__       t__        t__                        t__ t__ t__         t__ t__ t__         t__       t__       t__      t__      t__
    >;
};

sym {
    bindings = <
        t__ t__      t__      t__       t__       t__ t__                                       t__ &kp CARET &kp AT   &kp GRAVE &kp EXCL  &kp QMARK t__
        t__ t__      t__      &kp LBKT  &kp RBKT  t__ x__                                       x__ &kp DLLR  &kp LPAR &kp RPAR  &kp PRCNT &kp STAR  &kp BSLH
        t__ &sk LGUI &sk RALT &sk LSHFT &sk LCTRL t__ x__     t__ t__         t__ t__           x__ &kp MINUS &kp DQT  &kp EQUAL &kp PLUS  &kp COLON &kp FSLH
        t__ t__      t__      &kp LT    &kp GT    t__     x__ x__ t__ x__ x__ t__ x__       x__     &kp HASH  &kp LBRC &kp RBRC  &kp AMPS  &kp PIPE  t__
        t__ t__      t__      t__       t__               t__ t__ t__         t__ &kp UNDER t__               t__      t__       t__       t__       t__
    >;
};

num {
    bindings = <
        t__ t__      t__      t__       t__       t__ t__                                       &mo MOD &kp KP_NUM t__       t__       t__        t__      t__
        t__ t__      t__      t__       t__       t__ x__                                       x__     t__        &kp KP_N7 &kp KP_N8 &kp KP_N9  t__      t__
        t__ &sk LGUI &sk RALT &sk LSHFT &sk LCTRL t__ x__     t__ t__         t__ t__           x__     &kp LBKT   &kp KP_N4 &kp KP_N5 &kp KP_N6  &kp RBKT t__
        t__ t__      t__      t__       t__       t__     x__ x__ t__ x__ x__ t__ x__       x__         t__        &kp KP_N1 &kp KP_N2 &kp KP_N3  t__      t__
        t__ t__      t__      t__       t__               t__ t__ t__         t__ &kp KP_N0 t__                    t__       &kp COMMA &kp KP_DOT x__      t__
    >;
};

fun {
    bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4     &kp F5     &kp F6 &tog NUM                                      &mo MOD &kp F7 &kp F8       &kp F9       &kp F10 &kp F11 &kp F12
        t__    t__    t__    t__        t__        t__    x__                                           x__     t__    t__          t__          t__     t__     t__
        t__    t__    t__    t__        t__        t__    x__          t__ t__         t__ t__          x__     t__    t__          t__          t__     t__     t__
        t__    t__    t__    t__        t__        t__             x__ x__ t__ x__ x__ t__ x__ x__              t__    t__          t__          t__     t__     t__
        t__    t__    t__    &kp C_PREV &kp C_NEXT                 t__ t__ t__         t__ t__ &kp C_PP                &kp C_VOL_DN &kp C_VOL_UP t__     t__     t__
    >;
};

mod {
    bindings = <
        x__   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 x__                                                                                          t__  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 x__  
        x__   x__          x__          x__          x__          x__          BOOT                                                                                         BOOT x__          x__          x__          x__          x__          x__  
        x__   x__          x__          x__          x__          x__          BS                   &bt BT_CLR &bt BT_CLR             &bt BT_CLR &bt BT_CLR                 BS   x__          x__          x__          x__          x__          x__  
        x__   x__          x__          x__          x__          x__               x__             x__        x__        x__   x__   x__        x__        x__                  x__          x__          x__          x__          x__          x__  
        x__   x__          x__          &bl BL_INC   &bl BL_DEC                     &rgb_ug RGB_TOG &bl BL_TOG x__                    x__        &bl BL_TOG &rgb_ug RGB_TOG                   &bl BL_DEC   &bl BL_INC   x__          x__          x__  
    >;
};

#undef t__
#undef x__
#undef BOOT
#undef BS

