/*****************************************************************************************************
 *      TAP DANCE configurations
 *
 *****************************************************************************************************/

tdEmjWin: tap_dance_emoji_winchange {
    compatible = "zmk,behavior-tap-dance";
    label = "tap_dance_emoji_winchange";
    #binding-cells = <0>;
    tapping-term-ms = <300>;
    bindings = <&kp RG(SEMI)>, <&kp RG(TAB)>;
};



