#include <dt-bindings/zmk/keys.h>


// trying to get into key layout:
// tap: qu, shift-tap: Qu, hold: q, shift-hold: Q
// 2024-04-24 - NOT working w.r.t. shifting
//      still Ø - either "qu" or "QU" ...
// ▢ if work, tidy up files/dependencies
// timings - see https://zmk.dev/docs/behaviors/macros#wait-time 
    // wait-time = how long between <bindings>
    // tap-time = how long each binding is 'held'
// when timing too slow, fast typing injects other keystrokes between the Q and the U // even with ~0 it's tricky
m_qu: m_qu {
    compatible = "zmk,behavior-macro";
    wait-ms = <0>; // was 10
    tap-ms = <1>; // was 5
    #binding-cells = <0>;
    bindings = <&kp Q>, <&kp U>;
};

// Get Ø-shifted U?
// ▣ maybe <&macro_pause_for_release> between?
// CLOSE: tap: "qu"; s+tap: "QU"; n+tap-hold, rel either: "Qu"
    // gap: getting simple Q
    // hack for now: use bksp?
m_qu_cap: m_qu_cap {
    compatible = "zmk,behavior-macro";
    wait-ms = <10>;
    tap-ms = <5>;
    #binding-cells = <0>;
    bindings =
              <&kp LS(Q)>
            //, <&macro_release &kp LSHIFT>
            , <&macro_pause_for_release>
            , <&kp U>
    ;
};

// MOD MORPH for qu Qu - note not &kp based!
mm_QU: mm_QU {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&m_qu>, <&m_qu_cap>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };


// for Nth cases: st, nd, rd, th - to put on NUM shift/holds
m_1st: m_1st {
    compatible = "zmk,behavior-macro";
    wait-ms = <0>; // was 10
    tap-ms = <1>; // was 5
    #binding-cells = <0>;
    bindings = <&kp S>, <&kp T>;
};

m_2nd: m_2nd {
    compatible = "zmk,behavior-macro";
    wait-ms = <0>; // was 10
    tap-ms = <1>; // was 5
    #binding-cells = <0>;
    bindings = <&kp N>, <&kp D>;
};

m_3rd: m_3rd {
    compatible = "zmk,behavior-macro";
    wait-ms = <0>; // was 10
    tap-ms = <1>; // was 5
    #binding-cells = <0>;
    bindings = <&kp R>, <&kp D>;
};

m_4th: m_4th {
    compatible = "zmk,behavior-macro";
    wait-ms = <0>; // was 10
    tap-ms = <1>; // was 5
    #binding-cells = <0>;
    bindings = <&kp T>, <&kp H>;
};

// mod-morph shifts for these:
// ▢ TODO: see also the Q case. And make C-macros for...


// tap: the &kp, hold: the &macro for the letters...
// uses "&as_XX 0 #" in map; 0 parm for the nil macro parm; note macro is FIRST
// 
as_1st: auto_shift_1st {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&m_1st>, <&kp>; 
};
as_2nd: auto_shift_2nd {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&m_2nd>, <&kp>; 
};
as_3rd: auto_shift_3rd {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&m_3rd>, <&kp>; 
};
as_4th: auto_shift_4th {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    bindings = <&m_4th>, <&kp>; 
};
