m_CSA_R: m_CSA_R {
    label = m_CSA_R;
    compatible = "zmk,behavior-macro";
    wait-ms = <50>;
    #binding-cells = <0>;
    bindings = <&macro_press &kp LCTRL>
            , <&macro_press &kp LALT>
            , <&macro_press &kp LSHFT>
            , <&macro_press &kp R>
            , <&macro_release &kp LSHFT>
            , <&macro_release &kp LALT>
            , <&macro_release &kp LCTRL>
            , <&macro_pause_for_release>
            , <&macro_release &kp R>
            ;
};
