/*****************************************************************************************************
 *  TAP DANCE configurations
 *  for general cases
 *  [ ] macro-ify?
 *****************************************************************************************************/
#include <dt-bindings/zmk/keys.h>

// INCLUDE THIS inside Behaviors section of Keymap where other dependencies already pre-included

// 2024-04-16: label removed from ZMK v3

TD_Emj_WinDsk: tapdance_emoji_windesktopchange {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <300>;
    bindings = <&kp RG(SEMI)>, <&kp RG(TAB)>; // [1x] Win+; (Emoji pop-up)    [2x] Win+Tab (Windows desktops)
};

TD_CpWrd_CpLock: tapdance_capsword_capslock {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <300>;
    bindings = <&caps_word>, <&kp CAPSLOCK>;
};

TD_Num_LR_NLock: tapdance_num_lr_numlock {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <300>;
    bindings = <&mo L_NUM>, <&to L_LR>, <&to L_NUM>; // [hold] Num   [2x] to LR   [3x] to NUM
};

TD_Hm_CtrlHm: tapdance_home_ctrlhome {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <300>;
    bindings = <&kp HOME>, <&kp RC(HOME)>;
};

TD_En_CtrlEn: tapdance_end_ctrlend {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <300>;
    bindings = <&kp END>, <&kp RC(END)>;
};

TD_WinScreenshot_SnagIt: tapdance_winss_snagitss {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <300>;
    bindings = <&kp LG(LS(S))>, <&kp RC(RA(P))>;  // [1x] Win+Shift+S   [2x] Ctrl+Alt+P (customized in SnagIt settings)
};

// goal: 1x tap = BKSP, Hold = Ctl(bksp), 2x-tap-hold = repeat-backspace (see use with &as)
// idea: 2x-tap skips over the Hold behavior the &as would have caused.
// 2024-04-21: WIP, not in use yet; not right combo-syntax for the layout.
// TD_BkspHoldTap: tapdance_bksp_holdtap {
//     compatible = "zmk,behavior-tap-dance";
//     #binding-cells = <0>;
//     tapping-term-ms = <300>;
//     bindings = <&as_slw RC(BSPC) BSPC>, <&kp BKSP>;
// };
