/* TODO & NOTES - see mod_morphs_colemak file */
/* CODES ref: https://zmk.dev/docs/codes */
/* TODO: refactor the #define out separate - FOR NOW #include this BEFORE the Engram one */

/*
    2023-12-21: trying shorter macro-sub names vs. prior Colemak cases
        [.] weird parse errors; not sure

*/

#define MOD_MORPH_SHIFT(MM_NAME, KEY, MOD_KEY, AS_NAME) m_##MM_NAME: m_##MM_NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    label = #MM_NAME; \
    #binding-cells = <0>; \
    bindings = <&kp KEY>, <&kp MOD_KEY>; \
    mods = <(MOD_LSFT|MOD_RSFT)>; \
}; \
m_##AS_NAME: m_##AS_NAME { \
    compatible = "zmk,behavior-hold-tap"; \
    label = #AS_NAME; \
    #binding-cells = <2>; \
    tapping_term_ms = <150>; \
    quick_tap_ms = <0>; \
    flavor = "tap-preferred"; \
    bindings = <&kp>, <&m_##MM_NAME>; \
}; \


/*  :•  */
MOD_MORPH_SHIFT(mmDVK_Colon,  COLON,           LS(F24)         , mmsDVK_Colon )
