/* TODO & NOTES - see mod_morphs_colemak file */
/* CODES ref: https://zmk.dev/docs/codes */

/*
    2023-12-21: trying shorter macro-sub names vs. prior Colemak cases
*/

/* ASSUMES GENERAL ONE INCLUDED BEFORE THIS ONE! */
/* first label "mm<>" goes to "m_mm<>" for the &mm<> ref in layouts */

// ---------- NEW WIP LAYOUTS 2024-02-19+ ---------- //
// F20 >> AHK(Ø)
// F21 >> AHK(•)
// F14 >> AHK(~ing)
// F15 >> AHK(~tion)
// Note: (` grave; # hash, - minus, ...)

// TOP ROW (L to R)
  MOD_MORPH_SHIFT(mmNG2_Ing   , F14             , F15          , mmsNG2_Ing ) // F14 "ing" / F15 "tion"
  
  MOD_MORPH_SHIFT(mmNG2_Plus  , PLUS            , N1           , mmsNG2_Plus)
  MOD_MORPH_SHIFT(mmNG2_Semi  , SEMI            , N2           , mmsNG2_Semi)
  MOD_MORPH_SHIFT(mmNG2_Apos  , APOS            , N3           , mmsNG2_Apos)
  MOD_MORPH_SHIFT(mmNG2_LsTh  , LESS_THAN       , N4           , mmsNG2_LsTh)
  MOD_MORPH_SHIFT(mmNG2_Bksl  , BACKSLASH       , N5           , mmsNG2_Bksl)
  
  MOD_MORPH_SHIFT(mmNG2_Star  , STAR            , N6           , mmsNG2_Star)
  MOD_MORPH_SHIFT(mmNG2_GrTh  , GREATER_THAN    , N7           , mmsNG2_GrTh)
  MOD_MORPH_SHIFT(mmNG2_Quot  , DOUBLE_QUOTES   , N8           , mmsNG2_Quot)
  MOD_MORPH_SHIFT(mmNG2_Qstn  , QUESTION        , N9           , mmsNG2_Qstn)
  MOD_MORPH_SHIFT(mmNG2_Equl  , EQUAL           , N0           , mmsNG2_Equl)
 
// L-MID COLUMN (T to B): 
//MOD_MORPH_SHIFT(mmNG2_Amps  , AMPS            , AT           , mmsNG2_Amps)
//MOD_MORPH_SHIFT(mmNG2_Cmma  , COMMA           , TILDE        , mmsNG2_Cmma)
  MOD_MORPH_SHIFT(mmNG2_Amps  , AMPS            , TILDE        , mmsNG2_Amps)
  MOD_MORPH_SHIFT(mmNG2_Cmma  , COMMA           , AT           , mmsNG2_Cmma)
  MOD_MORPH_SHIFT(mmNG2_Lpar  , LPAR            , GRAVE        , mmsNG2_Lpar)
 
// R-MID COLUMN (T to B): 
//MOD_MORPH_SHIFT(mmNG2_Hash  , HASH            , DLLR         , mmsNG2_Hash)
//MOD_MORPH_SHIFT(mmNG2_Perd  , PERIOD          , PRCNT        , mmsNG2_Perd)
  MOD_MORPH_SHIFT(mmNG2_Hash  , HASH            , PRCNT        , mmsNG2_Hash)
  MOD_MORPH_SHIFT(mmNG2_Perd  , PERIOD          , DLLR         , mmsNG2_Perd)
  MOD_MORPH_SHIFT(mmNG2_Rpar  , RPAR            , PIPE         , mmsNG2_Rpar)
   
// Rh COLUMN (T to B): 
  MOD_MORPH_SHIFT(mmNG2_Slsh  , SLASH           , EXCLAMATION  , mmsNG2_Slsh)
  MOD_MORPH_SHIFT(mmNG2_Mnus  , MINUS           , UNDERSCORE   , mmsNG2_Mnus)
  MOD_MORPH_SHIFT(mmNG2_Coln  , COLON           , CARET        , mmsNG2_Coln)
  


/* OLD for ref

  MOD_MORPH_SHIFT(mmNGM_Apos  , APOS          , GRAVE           , mmsNGM_Apos)
  MOD_MORPH_SHIFT(mmNGM_1     , N1            , LBRC            , mmsNGM_1 )   
  MOD_MORPH_SHIFT(mmNGM_2     , N2            , AT              , mmsNGM_2 )
  MOD_MORPH_SHIFT(mmNGM_3     , N3            , BACKSLASH       , mmsNGM_3 )
  MOD_MORPH_SHIFT(mmNGM_4     , N4            , TILDE           , mmsNGM_4 )
  MOD_MORPH_SHIFT(mmNGM_5     , N5            , PIPE            , mmsNGM_5 )        
  MOD_MORPH_SHIFT(mmNGM_7     , N7            , DLLR            , mmsNGM_7 )
  MOD_MORPH_SHIFT(mmNGM_8     , N8            , HASH            , mmsNGM_8 )
  MOD_MORPH_SHIFT(mmNGM_9     , N9            , PRCNT           , mmsNGM_9 )
  MOD_MORPH_SHIFT(mmNGM_0     , N0            , RBRC            , mmsNGM_0 )        // {0,=} match Num layer
  MOD_MORPH_SHIFT(mmNGM_Qstn  , QUESTION      , EXCLAMATION     , mmsNGM_Qstn )

  // CENTER COLUMNS SIX (L-down > R-down)
  MOD_MORPH_SHIFT(mmNGM_Amps  , AMPS          , LESS_THAN       , mmsNGM_Amps )
  MOD_MORPH_SHIFT(mmNGM_Cmma  , COMMA         , SEMI            , mmsNGM_Cmma )
  MOD_MORPH_SHIFT(mmNGM_Rpar  , RPAR          , RBKT            , mmsNGM_Rpar )
  MOD_MORPH_SHIFT(mmNGM_Equl  , EQUAL         , GREATER_THAN    , mmsNGM_Equl )
  MOD_MORPH_SHIFT(mmNGM_Perd  , PERIOD        , DOUBLE_QUOTES   , mmsNGM_Perd )
  MOD_MORPH_SHIFT(mmNGM_Lpar  , LPAR          , LBKT            , mmsNGM_Lpar )

  // REMAINING RH side top>bottom
  MOD_MORPH_SHIFT(mmNGM_Slsh  , SLASH         , STAR            , mmsNGM_Slsh )
  MOD_MORPH_SHIFT(mmNGM_Mnus  , MINUS         , UNDERSCORE      , mmsNGM_Mnus )
  MOD_MORPH_SHIFT(mmNGM_Coln  , COLON         , PLUS            , mmsNGM_Coln )
  
  MOD_MORPH_SHIFT(mmNGM_Ing   , F14           , F15             , mmsNGM_Ing  ) // F14 "ing" / F15 "tion"

*/
