/* ASSUMES GENERAL ONE INCLUDED BEFORE THIS ONE! */

/* TODO & NOTES - see mod_morphs_general file */
/* CODES ref: https://zmk.dev/docs/codes */

/*
    2023-12-21: trying shorter macro-sub names vs. prior Colemak cases
        [.] weird parse errors; not sure

*/

MOD_MORPH_SHIFT(mmDVK_Colon,  COLON,           F21         , mmsDVK_Colon )     // : • 

