/*
 *  TAP DANCE ideas want or WIP
 */


// LET BKSPACE still "repeat" when held
// goal: 1x tap = BKSP, Hold = Ctl(bksp), 2x-tap-hold = repeat-backspace (see use with &as)
// idea: 2x-tap skips over the Hold behavior the &as would have caused.
// 2024-04-21: WIP, not in use yet; not right combo-syntax for the layout.
// 2024-04-21: an auto-shift with deliberate tapping-term &c works - see layout
// TD_BkspHoldTap: tapdance_bksp_holdtap {
//     compatible = "zmk,behavior-tap-dance";
//     #binding-cells = <0>;
//     tapping-term-ms = <300>;
//     bindings = <&as_slw RC(BSPC) BSPC>, <&kp BKSP>;
// };
